# Whitelist-style: ignore everything at the repo root, then re-include
# only the hardhat project (blockchain/), the root README, the LICENSE,
# and this .gitignore itself. The frontend code in src/, public/, server/,
# etc. stays on disk but is never pushed to GitHub.

/*
!/.gitignore
!/README.md
!/LICENSE
!/blockchain
